@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    /*background: #cccccc;*/
    background: linear-gradient(to bottom left, #dad9d9, #cccccc);
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 0;
    text-transform: uppercase;
}
header ul
{
    
    display: flex;
    justify-content: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #333;
    border-radius: 20px;
}
header ul li a:hover
{
    color: #000;
    font-weight: 700;
    background: #fff;
    border-radius: 30px;
}
.main
{
    /*background: #cccccc;*/
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.main img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.main img#front
{
    z-index: 3;
}
/*
#about
{
    padding: 250px 0;
}
.aboutRow
{
    background: linear-gradient(to bottom left,#c99bf8, #938ce4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 150px;
    margin: 0 100px;
    border-radius: 45px;
    box-shadow: -10px 10px 9px rgba(0, 0, 0, 0.4)
}
.aboutRow img
{
    height: 250px;
}
.aboutRow p
{
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}
*/
.about
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card
{
    position: relative;
    width: 800px;
    height: 400px;
    background: rgba(147, 140, 228, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 10px 9px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover
{
    transform: scale(1.2);
    background: rgba(147, 140, 228, 0.5);
}
.card::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom left,#c99bf8, #938ce4);
}
.card .content
{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    padding: 0 70px;
}
.card img
{
    width: 150px;
}
.card p
{
    font-size: 1.3em;
    padding-left: 40px;
}